{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению вопроса{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению вопроса</h1>
        <form method="post">
            {% csrf_token %}<br>
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn btn-success" type="submit">Добавить вопрос</button>
        </form>
    </div>
{% endblock %}
