{% extends 'main/layout.html' %}


{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Мы команда Московского Политеха и мы хотим помочь ученикам поступающим по целевому обучению,
            для этого наша команда создала таблицу по организациям, предлагающим целевое обучение,
            там также есть все удобства: номера телефонов организаций, ссылки на их сайты, ближайшие станции метро. Удачи в обучении!</p>
        <a href="https://mospolytech.ru/"><button class="btn btn-danger">Нажми</button></a>
    </div>
{% endblock %}